<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Noah Staveley{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
            <a class="nav-link about-link" href="{{ url_for('travel') }}">Travel</a>
            <a class="nav-link about-link" href="{{ url_for('skateboarding') }}">Skateboarding</a>
            <a class="nav-link about-link" href="{{ url_for('swe') }}">Software Engineering</a>
            <a class="nav-link about-link" href="{{ url_for('homeowner') }}">Home Ownership</a>
        </div>
    </nav>



    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>