{% extends 'base.html' %}
{% block title %}About - Noah Staveley{% endblock %}
{% block content %}
<div class="about-container">
    <h1>Home Ownership</h1>
   
    <!-- Home Projects Section -->
    <div class="about-section">
        <h2>Home Ownership</h2>
        <p>As a homeowner, I enjoy taking on various improvement and maintenance projects. My experience includes:</p>
        <ul>
            <li>Various small projects: lighting upgrades, installation: garage door opener, ceiling fan, dryer vent, kitchen backsplash, kitchen and bath sinks</li>
            <li>Regular maintenance and repairs: patching drywall, appliance repair (fridge, washer)</li>
            <li>Outdoor maintenance and repairs: deck maintenance, landscaping, drainage solutions, foundation crack repair</li>
        </ul>
    </div>
   
    
</div>
{% endblock %}