{% extends 'base.html' %}
{% block title %}Places I've Been - Noah Staveley{% endblock %}
{% block content %}
<div class="container">
    <h1>Places I've Been</h1>
    <div class="travel-content">
        <!-- 2024 -->
        <div class="destination-section">
            <h2>2024</h2>
            <div class="destination-details">
                <h3>Places Visited:</h3>
                <ul>
                    <li>Grand Turk</li>
                    <li>Guatemala - Lake Atilan, El Paredon, Antigua</li>
                    <li>Hawaii - Maui</li>
                </ul>
                
            </div>
        </div>

        <!-- 2023 -->
        <div class="destination-section">
            <h2>2023</h2>
            <div class="destination-details">
                <h3>Places Visited:</h3>
                <ul>
                    <li>Ireland - Dublin, Galway</li>
                    <li>Mexico - Mexico City</li>
                    <li>Italy - Venice, Florence, Rome</li>
                </ul>
            </div>
        </div>

        <!-- 2022 -->
        <div class="destination-section">
            <h2>2022</h2>
            <div class="destination-details">
                <h3>Places Visited:</h3>
                <ul>
                    <li>Ireland - Dublin, Sligo, Malahide</li>
                    <li>Malta</li>
                </ul>
            </div>
        </div>
        <!-- 2020 -->
        <div class="destination-section">
            <h2>2022</h2>
            <div class="destination-details">
                <h3>Places Visited:</h3>
                <ul>
                    <li>Mexico - Tulum</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
